@font-face {
  font-family: 'LifehackSans-Regular';
  src: url("../fonts/LifehackSans-Regular.eot");
  src: url("../fonts/LifehackSans-Regular.woff2") format("woff2"), url("../fonts/LifehackSans-Regular.woff") format("woff"), url("../fonts/LifehackSans-Regular.ttf") format("truetype"), url("../fonts/LifehackSans-Regular.svg#LifehackSans-Regular") format("svg"), url("../fonts/LifehackSans-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

.slicknav_menu {
  *zoom: 1;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:before {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.slicknav_nav {
  clear: both;
}
.slicknav_nav ul {
  display: block;
}
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_brand {
  float: left;
}

.slicknav_menu {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
  background: #f5f3f2;
  padding: 5px;
  padding-top: 12px;
}
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_menu .slicknav_menutxt {
  color: #87827c;
  font-weight: bold;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #87827c;
}

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  background-color: #acd8d9;
}

.slicknav_nav {
  color: #87827c;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
  border-radius: 6px;
  background: #acd8d9;
  color: #87827c;
}
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #87827c;
  text-transform: uppercase;
  font-weight: bold;
}
.slicknav_nav a:hover {
  border-radius: 6px;
  background: #acd8d9;
  color: #d52a77;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

.slicknav_brand {
  color: #87827c;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*Themes*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../fonts/slick.eot?1473930180');
  src: url('../fonts/slick.eot?&1473930180#iefix') format("embedded-opentype"), url('../fonts/slick.woff?1473930180') format("woff"), url('../fonts/slick.ttf?1473930180') format("truetype"), url('../fonts/slick.svg?1473930180#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  display: none;
  position: absolute;
  display: block;
  height: 48px;
  width: 27px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: url(../images/sprite.png);
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 8;
}

.slick-prev {
  background-position: -15px 0;
  left: 25px;
}
.slick-prev:hover {
  background-position: -15px -48px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-next {
  background-position: 143px 0;
  right: 25px;
}
.slick-next:hover {
  background-position: 143px -48px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slider_row .slick-prev,
.slider_row .slick-next {
  height: 19px;
  width: 10px;
  background: url(../images/sprite.png);
  top: 40%;
}
.slider_row .slick-prev {
  background-position: 49px 0;
  left: 5px;
}
.slider_row .slick-prev:hover {
  background-position: 49px -19px;
}
[dir="rtl"] .slider_row .slick-prev {
  left: auto;
  right: -25px;
}
.slider_row .slick-next {
  background-position: 39px 0;
  right: 10px;
}
.slider_row .slick-next:hover {
  background-position: 39px -19px;
}
[dir="rtl"] .slider_row .slick-next {
  left: -25px;
  right: auto;
}

.slider_vertical .slick-prev,
.slider_vertical .slick-next {
  width: 27px;
  height: 15px;
  background: url(../images/sprite.png);
  left: 50%;
  margin-left: -20px;
}
.slider_vertical .slick-prev {
  background-position: 88px -30px;
  left: 50%;
  top: -10px;
}
.slider_vertical .slick-prev:hover {
  background-position: 88px -60px;
}
[dir="rtl"] .slider_vertical .slick-prev {
  left: auto;
  right: -25px;
}
.slider_vertical .slick-next {
  background-position: 89px -45px;
  top: inherit;
  bottom: -25px;
}
.slider_vertical .slick-next:hover {
  background-position: 89px -75px;
}
[dir="rtl"] .slider_vertical .slick-next {
  left: -25px;
  right: auto;
}

/* Dots */
/*.slick-dotted.slick-slider {
    margin-bottom: 30px;
}*/
.slick-dots {
  position: absolute;
  bottom: 15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (max-width: 700px) {
  .slick-dots {
    margin-left: 0;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 15px;
  height: 15px;
  font-family: "slick";
  font-size: 6px;
  line-height: 15px;
  text-align: center;
  color: white;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background: #d52a77;
  border: 0;
  color: white;
  opacity: 0.75;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.nav .container, .main_slider .slider, .main_center .container, .main_center .text_in, .main_center .catalog_block .item, .news .container, .news .drop_left_menu, .news .span1 .info_user, .news .span2 .top_title, .news .span2 .top_title .dop_function, .news .span2 .block_text, .news .span2 .posts .item .span22 .text, .news .span2 .my_shemi .item, .news .span2 .my_detal .item, .cabinet .span221 .slider_vertical img, .cabinet .span222 img, .cabinet .span223 .info_tovar, .text_inf, .block_popup .popup .add_sh, .block_popup_2 .popup .add_sh {
  box-shadow: 0 0 11px -3px #87827c;
}

.color_ping {
  color: #d52a77;
}

.slicknav_menu {
  display: none;
}
@media (max-width: 900px) {
  .slicknav_menu {
    display: block;
  }
}

.LifehackSans-Regular, .main_center .baner .text a, .news .span1 .top .text .name, .news .span2 .top_title h1, .news .span2 .block_text .title, .cabinet .span223 .info_tovar .title, .text_inf .title {
  font-family: 'LifehackSans-Regular';
  color: #87827c;
}

html {
  width: 100%;
  height: 100%;
  background: #f5f3f2;
}

body {
  width: 100%;
  height: 100%;
  background: #f5f3f2;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI5MC45MDkwOSUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iOTAuOTA5MDklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(90.90909%, rgba(179, 179, 255, 0.25)), color-stop(90.90909%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 90.90909%, rgba(0, 0, 0, 0) 90.90909%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 90.90909%, rgba(0, 0, 0, 0) 90.90909%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.39695%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  background: none;
  position: relative;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular', Sans-Serif;
  color: #87827c;
  font-size: 14px;
}
*:focus {
  outline: none;
}

.clear {
  clear: both;
}

.line_top {
  width: 104%;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -52%;
  border-bottom: dotted 3px #d52a77;
}

.top {
  width: 100%;
  height: 50px;
  background: url(../images/fon_top.jpg);
}
@media (max-width: 950px) {
  .top {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .top {
    height: 150px;
  }
}
.top .span1 {
  width: 24.42748%;
  float: left;
  margin-right: 0.76336%;
}
@media (max-width: 950px) {
  .top .span1 {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 500px) {
  .top .span1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}
.top .span1 .logo_img {
  margin: 5px 7px -4px 15px;
}
@media (max-width: 500px) {
  .top .span1 .logo_img {
    margin-left: 5px;
  }
}
.top .span1 .logo_text {
  font-size: 36px;
}
.top .span2 {
  width: 58.01527%;
  float: left;
  margin-right: 0.76336%;
}
@media (max-width: 950px) {
  .top .span2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 3%;
    position: absolute;
    top: 50px;
  }
}
@media (max-width: 500px) {
  .top .span2 {
    top: 100px;
  }
}
.top .span2 .seacrh_input {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 4px;
  padding-left: 18px;
  margin: 7px 0 0 0;
  background: url(../images/search.png) 98% center no-repeat #f5f3f2;
}
.top .span3 {
  width: 16.03053%;
  float: right;
  margin-right: 0;
}
@media (max-width: 950px) {
  .top .span3 {
    width: 47.61905%;
    float: right;
    margin-right: 0;
    text-align: right;
    padding-right: 3%;
  }
}
@media (max-width: 500px) {
  .top .span3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}
.top .span3 .login_img {
  margin: 4px 0 -8px 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.top .span3 a {
  text-decoration: none;
  font-size: 26px;
  white-space: nowrap;
  position: relative;
}
.top .span3 a:after {
  content: '';
  display: block;
  width: 9px;
  height: 7px;
  position: absolute;
  right: -15px;
  top: 10px;
  background: url(../images/sprite.png) -5px -3px no-repeat;
}
.top .span3 a:hover:after {
  background-position: -5px -10px;
}

.nav {
  margin-bottom: 17px;
}
.nav .container {
  background: #fff;
}
@media (max-width: 900px) {
  .nav nav > ul.menu {
    display: none;
  }
}
.nav nav > ul.menu > li {
  width: 15.38462%;
  float: left;
  margin-right: 1.53846%;
}
.nav nav > ul.menu > li:last-child {
  float: right;
  margin-right: 0;
}
.nav nav > ul.menu > li a {
  padding: 19px 0 11px;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
}
.nav nav > ul.menu > li a:hover {
  color: #d52a77;
}

.main_center .container {
  padding: 10px 20px 15px;
}
.main_center .baner {
  width: 100%;
  height: 56px;
  margin-bottom: 6px;
  background: url(../images/baner1.png) 50% 50% no-repeat;
  background-size: cover;
}
.main_center .baner .text {
  font-size: 30px;
  padding-top: 9px;
  text-align: center;
  color: #fff;
}
.main_center .baner .text a {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  color: #d52a77;
  text-transform: uppercase;
  padding: 5px 19px 3px;
  border-radius: 5px;
}
.main_center .text_in {
  background: #fff;
  padding: 26px 4%;
  line-height: 19px;
  position: relative;
  width: 94%;
  margin: 0 auto 20px;
}
@media (max-width: 1000px) {
  .main_center .text_in {
    width: 100%;
  }
}
.main_center .text_in .line_top {
  width: 102%;
  margin-left: -51%;
}
.main_center .catalog_block {
  width: 900px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .main_center .catalog_block {
    width: 100%;
  }
}
.main_center .catalog_block .item {
  width: 23.25581%;
  float: left;
  margin-right: 2.32558%;
  margin-top: 7px;
  background: #fff;
  position: relative;
}
.main_center .catalog_block .item:hover {
  Box-shadow: 0px 0px 0px 1px #d52a77;
}
.main_center .catalog_block .item:hover .in {
  color: #d52a77;
}
.main_center .catalog_block .item:hover .in .text span {
  color: #d52a77;
}
.main_center .catalog_block .item:hover .in .get {
  background: #d52a77;
}
.main_center .catalog_block .item .in {
  position: relative;
}
.main_center .catalog_block .item .stars {
  position: absolute;
  top: 5px;
  left: 7px;
}
.main_center .catalog_block .item .stars .star {
  display: inline-block;
  margin-left: 1px;
  width: 17px;
  height: 16px;
  background: url(../images/star.png) no-repeat;
}
.main_center .catalog_block .item .likes {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 22px;
  height: 15px;
  background: url(../images/sprite.png) -70px 0px no-repeat;
}
.main_center .catalog_block .item .likes:hover, .main_center .catalog_block .item .likes.active {
  background-position: -70px -15px;
}
@media (max-width: 900px) {
  .main_center .catalog_block .item {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }
}
@media (max-width: 700px) {
  .main_center .catalog_block .item {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 500px) {
  .main_center .catalog_block .item {
    float: left !important;
    width: 100% !important;
  }
}
.main_center .catalog_block .item:nth-child(4n) {
  width: 23.25581%;
  float: right;
  margin-right: 0;
}
@media (max-width: 900px) {
  .main_center .catalog_block .item:nth-child(4n) {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }
}
@media (max-width: 700px) {
  .main_center .catalog_block .item:nth-child(4n) {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 900px) {
  .main_center .catalog_block .item:nth-child(3n) {
    width: 31.25%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .main_center .catalog_block .item:nth-child(3n) {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 700px) {
  .main_center .catalog_block .item:nth-child(2n) {
    width: 47.61905%;
    float: right;
    margin-right: 0;
  }
}
.main_center .catalog_block .item .img {
  width: 100%;
  height: 222px;
  background-size: cover !important;
  background-position: 50% 50%;
}
@media (max-width: 500px) {
  .main_center .catalog_block .item .img {
    height: 300px;
  }
}
.main_center .catalog_block .item .text {
  line-height: 20px;
  padding-left: 10px;
  margin: 3px 0;
}
.main_center .catalog_block .item .text span {
  white-space: nowrap;
}
.main_center .catalog_block .item .get {
  display: block;
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
  background: #87827c;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 9px 0 7px;
  border-radius: 5px;
  margin-bottom: 7px;
  box-shadow: 1px 1px 1px 1px #615c56;
}
.main_center .catalog_block .item.free .get {
  background: #acd8d9;
  box-shadow: 1px 1px 1px 1px #89c3c5;
}
.main_center .but_go {
  width: 94%;
  margin: 0 auto;
  height: 60px;
}
@media (max-width: 1000px) {
  .main_center .but_go {
    width: 100%;
  }
}
.main_center .go_to_catalog {
  margin: 10px 0;
  display: block;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 7px;
  width: 168px;
  height: 28px;
  float: right;
  background: #acd8d9;
  color: #fff;
  position: relative;
}
.main_center .go_to_catalog:after {
  content: url(../images/arrow_btn.png);
  width: 11px;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 6px;
}

.news .container {
  padding-bottom: 30px;
}
.news .drop_left_menu {
  display: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 99;
  padding: 13px;
  text-align: center;
  position: fixed;
  top: 30px;
  left: 0;
  background: #d52a77;
  color: #fff;
}
@media (max-width: 700px) {
  .news .drop_left_menu {
    display: block;
  }
}
.news .drop_left_menu:hover {
  cursor: pointer;
}
.news .drop_left_menu .line {
  display: block;
  width: 1.325em;
  height: .225em;
  border-radius: 1px;
  background-color: #fff;
  margin-top: .188em;
}
.news .span1 {
  width: 29.3578%;
  float: left;
  margin-right: 0.91743%;
  padding: 10px 5px 0 20px;
}
@media (max-width: 700px) {
  .news .span1 {
    display: none;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 10px 10px 10px 10px;
  }
}
.news .span1 .top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  min-height: 130px;
  background: #acd8d9;
}
@media (max-width: 990px) {
  .news .span1 .top {
    min-height: 180px;
  }
}
.news .span1 .top .img {
  width: 41.22137%;
  float: left;
  margin-right: 0.76336%;
  padding: 19px 0 0 15px;
}
@media (max-width: 990px) {
  .news .span1 .top .img {
    width: 100%;
    padding-left: 0;
  }
}
.news .span1 .top .img img {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 3px #fff;
}
@media (max-width: 990px) {
  .news .span1 .top .img img {
    display: block;
    margin: 0 auto;
  }
}
.news .span1 .top .text {
  width: 58.01527%;
  float: right;
  margin-right: 0;
  padding-top: 50px;
}
@media (max-width: 990px) {
  .news .span1 .top .text {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}
.news .span1 .top .text .name {
  font-size: 26px;
  color: #fff;
  white-space: nowrap;
}
.news .span1 .top .text .work {
  font-style: italic;
  color: #fff;
}
.news .span1 .bottom ul li a {
  background: #fff;
  text-decoration: none;
  color: #87827c;
  width: 100%;
  display: block;
  padding: 22px 0 25px 20px;
  border-bottom: solid 1px #f5f3f2;
}
.news .span1 .bottom ul li a:hover {
  color: #d52a77;
  border-left: solid 4px #acd8d9;
  background: #d5ebec;
  padding-left: 16px;
}
.news .span1 .bottom ul li.active a {
  color: #d52a77;
  border-left: solid 4px #acd8d9;
  background: #d5ebec;
  padding-left: 16px;
}
.news .span1 .bottom ul li:last-child a {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.news .span2 {
  width: 69.72477%;
  float: right;
  margin-right: 0;
  padding: 10px 20px 20px 5px;
}
@media (max-width: 700px) {
  .news .span2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px 10px 10px;
  }
}
.news .span2 .top_title {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #acd8d9;
  border-radius: 5px;
}
.news .span2 .top_title .right_a {
  margin-top: -18px;
  float: right;
  text-align: right;
}
.news .span2 .top_title .right_a .count {
  text-decoration: none;
  color: #fff;
}
.news .span2 .top_title .right_a .count:hover {
  color: #d52a77;
}
.news .span2 .top_title.bottom_big {
  margin-bottom: 48px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 450px) {
  .news .span2 .top_title.bottom_big {
    margin-bottom: 75px;
  }
}
.news .span2 .top_title h1 {
  margin: 0;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
.news .span2 .top_title .dop_function {
  height: 28px;
  width: 100%;
  position: absolute;
  bottom: -28px;
  left: 0;
  background: #fff;
  padding: 9px 17px;
}
@media (max-width: 450px) {
  .news .span2 .top_title .dop_function {
    height: 56px;
    bottom: -54px;
  }
}
.news .span2 .top_title .dop_function .left {
  float: left;
}
@media (max-width: 450px) {
  .news .span2 .top_title .dop_function .left {
    float: none;
    text-align: center;
    padding: 3px 0 7px 0;
  }
}
.news .span2 .top_title .dop_function .right {
  float: right;
  text-align: right;
}
@media (max-width: 450px) {
  .news .span2 .top_title .dop_function .right {
    float: none;
    text-align: center;
  }
}
.news .span2 .top_title .dop_function .right .change,
.news .span2 .top_title .dop_function .right .delete {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-left: 21px;
}
.news .span2 .top_title .dop_function .right .change:hover,
.news .span2 .top_title .dop_function .right .delete:hover {
  color: #d52a77;
}
.news .span2 .top_title .dop_function .right .change:after,
.news .span2 .top_title .dop_function .right .delete:after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: -2px;
  left: -18px;
  background: url(../images/sprite.png) no-repeat;
}
@media (max-width: 450px) {
  .news .span2 .top_title .dop_function .right .change {
    float: left;
  }
}
.news .span2 .top_title .dop_function .right .change:after {
  background-position: -96px 0;
}
.news .span2 .top_title .dop_function .right .change:hover:after {
  background-position: -96px -14px;
}
@media (max-width: 450px) {
  .news .span2 .top_title .dop_function .right .delete {
    float: right;
  }
}
.news .span2 .top_title .dop_function .right .delete:after {
  top: 0;
  width: 12px;
  height: 12px;
  background-position: -112px 0;
}
.news .span2 .top_title .dop_function .right .delete:hover:after {
  background-position: -112px -12px;
}
.news .span2 .block_text {
  margin-top: 30px;
  background: #fff;
  position: relative;
  padding: 20px 20px 30px;
  border-radius: 4px;
}
.news .span2 .block_text .title {
  color: #d52a77;
  font-size: 30px;
  padding-bottom: 9px;
}
.news .span2 .block_text .text {
  line-height: 18px;
}
.news .span2 .block_text ul li a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
}
.news .span2 .block_text ul li a:hover {
  color: #d52a77;
}
.news .span2 .posts .item {
  margin-top: 20px;
}
.news .span2 .posts .item .span21 {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  overflow: hidden;
}
@media (max-width: 370px) {
  .news .span2 .posts .item .span21 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.news .span2 .posts .item .span21 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: solid 1px #fff;
}
.news .span2 .posts .item .span22 {
  width: 65.625%;
  float: right;
  margin-right: 0;
}
@media (max-width: 370px) {
  .news .span2 .posts .item .span22 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.news .span2 .posts .item .span22 .text {
  border-radius: 4px;
  background: #fff;
  position: relative;
  padding: 60px 20px 35px;
}
.news .span2 .posts .item .span22 .text .date {
  width: 107px;
  padding: 7px 0;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: -5px;
  padding: 5px;
  color: #fff;
  background: #acd8d9;
}
.news .span2 .posts .item .span22 .text .title {
  display: block;
  text-decoration: none;
  color: #d52a77;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 7px;
}
.news .span2 .posts .item .span22 .text p {
  line-height: 19px;
}
.news .span2 .posts .item .span22 .text .go_to_post {
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 13px;
  font-size: 12px;
}
.news .span2 .posts .item .span22 .text .go_to_post:hover {
  color: #d52a77;
}
.news .span2 .my_shemi .item {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  margin-top: 7px;
  background: #fff;
  position: relative;
}
.news .span2 .my_shemi .item:hover {
  Box-shadow: 0px 0px 0px 1px #d52a77;
}
.news .span2 .my_shemi .item:hover .in {
  color: #d52a77;
}
.news .span2 .my_shemi .item:hover .in .text span {
  color: #d52a77;
}
.news .span2 .my_shemi .item:hover .in .get {
  background: #d52a77;
}
.news .span2 .my_shemi .item .in {
  position: relative;
}
.news .span2 .my_shemi .item .plus {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -49%;
  width: 98%;
  height: 100%;
  background: #fff;
  z-index: 2;
}
.news .span2 .my_shemi .item .plus .pl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background: url(../images/sprite.png) 0 -242px no-repeat;
}
.news .span2 .my_shemi .item .plus .pl .text_p {
  width: 12em;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -6em;
}
.news .span2 .my_shemi .item .plus:hover {
  cursor: pointer;
}
.news .span2 .my_shemi .item .plus:hover .pl {
  background-position: 0 -302px;
}
.news .span2 .my_shemi .item .plus:hover .pl .text_p {
  color: #d52a77;
}
.news .span2 .my_shemi .item .stars {
  position: absolute;
  top: 5px;
  left: 7px;
}
.news .span2 .my_shemi .item .stars .star {
  display: inline-block;
  margin-left: 1px;
  width: 17px;
  height: 16px;
  background: url(../images/star.png) no-repeat;
}
.news .span2 .my_shemi .item .likes {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 22px;
  height: 15px;
  background: url(../images/sprite.png) -70px 0px no-repeat;
}
.news .span2 .my_shemi .item .likes:hover, .news .span2 .my_shemi .item .likes.active {
  background-position: -70px -15px;
}
@media (max-width: 900px) {
  .news .span2 .my_shemi .item {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 500px) {
  .news .span2 .my_shemi .item {
    float: left !important;
    width: 100% !important;
  }
}
.news .span2 .my_shemi .item:nth-child(3n) {
  width: 31.25%;
  float: right;
  margin-right: 0;
}
@media (max-width: 900px) {
  .news .span2 .my_shemi .item:nth-child(3n) {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 900px) {
  .news .span2 .my_shemi .item:nth-child(2n) {
    width: 47.61905%;
    float: right;
    margin-right: 0;
  }
}
.news .span2 .my_shemi .item .img {
  width: 100%;
  height: 222px;
  background-size: cover !important;
  background-position: 50% 50%;
}
@media (max-width: 500px) {
  .news .span2 .my_shemi .item .img {
    height: 300px;
  }
}
.news .span2 .my_shemi .item .text {
  line-height: 20px;
  padding-left: 10px;
  margin: 8px 0;
}
.news .span2 .my_shemi .item .text span {
  white-space: nowrap;
}
.news .span2 .my_shemi .item .get {
  text-align: center;
  display: block;
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
  background: #87827c;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 9px 0 7px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 7px;
  box-shadow: 1px 1px 1px 1px #615c56;
}
.news .span2 .my_shemi .item.free .get {
  background: #acd8d9;
  box-shadow: 1px 1px 1px 1px #89c3c5;
}
.news .span2 .my_detal .item {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  margin-top: 7px;
  background: #fff;
  position: relative;
}
.news .span2 .my_detal .item:hover {
  Box-shadow: 0px 0px 0px 1px #acd8d9;
}
.news .span2 .my_detal .item:hover .in {
  color: #d52a77;
}
.news .span2 .my_detal .item:hover .in .text span {
  color: #d52a77;
}
.news .span2 .my_detal .item:hover .in .get {
  background: #d52a77;
}
.news .span2 .my_detal .item .in {
  position: relative;
}
.news .span2 .my_detal .item .plus {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -49%;
  width: 98%;
  height: 100%;
  background: #fff;
  z-index: 2;
}
.news .span2 .my_detal .item .plus .pl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background: url(../images/sprite.png) 0 -242px no-repeat;
}
.news .span2 .my_detal .item .plus .pl.like {
  width: 109px;
  height: 46px;
  margin-left: -55px;
  background-position: 0 -148px;
}
.news .span2 .my_detal .item .plus .pl .text_p {
  width: 12em;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -6em;
}
.news .span2 .my_detal .item .plus:hover {
  cursor: pointer;
}
.news .span2 .my_detal .item .plus:hover .pl {
  background-position: 0 -302px;
}
.news .span2 .my_detal .item .plus:hover .pl.like {
  background-position: 0 -194px;
}
.news .span2 .my_detal .item .plus:hover .pl.like .text_p {
  color: #acd8d9;
}
.news .span2 .my_detal .item .plus:hover .pl .text_p {
  color: #d52a77;
}
@media (max-width: 900px) {
  .news .span2 .my_detal .item {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 500px) {
  .news .span2 .my_detal .item {
    float: left !important;
    width: 100% !important;
  }
}
.news .span2 .my_detal .item:nth-child(3n) {
  width: 31.25%;
  float: right;
  margin-right: 0;
}
@media (max-width: 900px) {
  .news .span2 .my_detal .item:nth-child(3n) {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
}
@media (max-width: 900px) {
  .news .span2 .my_detal .item:nth-child(2n) {
    width: 47.61905%;
    float: right;
    margin-right: 0;
  }
}
.news .span2 .my_detal .item .img {
  width: 100%;
  height: 222px;
  background-size: cover !important;
  background-position: 50% 50%;
}
@media (max-width: 500px) {
  .news .span2 .my_detal .item .img {
    height: 300px;
  }
}

.cabinet {
  padding: 30px 0;
}
.cabinet .span221 {
  width: 16.03053%;
  float: left;
  margin-right: 0.76336%;
  padding-right: 5px;
}
@media (max-width: 600px) {
  .cabinet .span221 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
}
.cabinet .span221 .slider_vertical {
  position: relative;
  margin: 15px 0;
}
@media (max-width: 600px) {
  .cabinet .span221 .slider_vertical {
    padding: 10px 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .cabinet .span221 .slider_vertical .slick-prev,
  .cabinet .span221 .slider_vertical .slick-next {
    display: none;
  }
}
.cabinet .span221 .slider_vertical img {
  border-radius: 4px;
  width: 85%;
  margin: 2px 0;
}
@media (max-width: 600px) {
  .cabinet .span221 .slider_vertical img {
    margin: 0 auto;
  }
}
.cabinet .span222 {
  padding: 0 5px;
  width: 32.82443%;
  float: left;
  margin-right: 0.76336%;
}
@media (max-width: 600px) {
  .cabinet .span222 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.cabinet .span222 img {
  width: 100%;
  border-radius: 2px;
  border: solid 2px #fff;
}
.cabinet .span223 {
  width: 49.61832%;
  float: right;
  margin-right: 0;
  padding: 0 5px;
}
@media (max-width: 600px) {
  .cabinet .span223 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.cabinet .span223 .info_tovar {
  min-height: 215px;
  border-radius: 2px;
  position: relative;
  padding: 11px 13px;
  background: #fff;
}
.cabinet .span223 .info_tovar .line_top {
  top: 40px;
}
.cabinet .span223 .info_tovar .title {
  color: #d52a77;
  font-size: 30px;
}
.cabinet .span223 .info_tovar .text {
  padding-top: 20px;
}
.cabinet .span223 .info_tovar .text span {
  line-height: 19px;
  display: block;
}
.cabinet .span223 .buy_sh {
  font-size: 18px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 7px;
  text-decoration: none;
  outline: none;
  height: 38px;
  border-radius: 4px;
  background: #87827c;
  color: #fff;
}
.cabinet .span223 .buy_sh:hover {
  cursor: pointer;
}
.cabinet .span223 .favor_sh {
  font-size: 16px;
  width: 100%;
  background: #fff;
  text-decoration: none;
  outline: none;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #87827c;
}
.cabinet .span223 .favor_sh:hover {
  cursor: pointer;
}
.cabinet .span223 .favor_sh span {
  position: relative;
  text-align: center;
}

.fz16 {
  font-size: 16px;
}

.slider_row {
  padding: 0 33px;
  margin-top: 10px;
}
.slider_row .item {
  padding: 5px;
}
.slider_row .item img {
  display: block;
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 3px #fff;
}
.slider_row .item .text {
  padding: 7px 0;
  line-height: 18px;
}

.text_inf {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
}
.text_inf .title {
  color: #fff;
  height: 40px;
  font-size: 30px;
  background: #acd8d9;
  padding-top: 10px;
  padding-left: 15px;
}
.text_inf .text_in {
  padding: 18px 17px 25px;
  line-height: 18px;
}

footer {
  min-height: 76px;
  background: url(../images/fon_top.jpg);
}
footer .span1 {
  width: 29.3578%;
  float: left;
  margin-right: 0.91743%;
  padding: 21px 0 0 3px;
}
@media (max-width: 780px) {
  footer .span1 {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
    padding-top: 75px;
    padding-bottom: 15px;
  }
}
@media (max-width: 470px) {
  footer .span1 {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-top: 115px;
  }
}
footer .span1 .logo_img {
  margin: 5px 7px -4px 15px;
}
@media (max-width: 470px) {
  footer .span1 .logo_img {
    margin-left: 0;
  }
}
footer .span1 .logo_text {
  font-size: 36px;
}
footer .span2 {
  padding-top: 6px;
  width: 49.54128%;
  float: left;
  margin-right: 0.91743%;
  text-align: center;
}
@media (max-width: 780px) {
  footer .span2 {
    position: absolute;
    top: 0;
    width: 100%;
    clear: both;
  }
}
footer .span2 .text {
  text-align: center;
  padding-bottom: 9px;
}
footer .span2 input {
  width: 237px;
  height: 33px;
  border-radius: 3px;
  padding-left: 8px;
  border: 0;
  outline: none;
}
@media (max-width: 470px) {
  footer .span2 input {
    width: 95%;
  }
}
footer .span2 button {
  margin-left: -5px;
  border: 0;
  outline: none;
  border-radius: 3px;
  height: 33px;
  color: #fff;
  padding: 0 25px;
  background: #d52a77;
}
@media (max-width: 470px) {
  footer .span2 button {
    margin-left: 0;
    margin-top: 7px;
  }
}
footer .span3 {
  width: 19.26606%;
  float: right;
  margin-right: 0;
  padding: 35px 20px 0 0;
  text-align: right;
}
@media (max-width: 780px) {
  footer .span3 {
    width: 47.61905%;
    float: right;
    margin-right: 0;
    padding-top: 87px;
    padding-bottom: 15px;
  }
}
@media (max-width: 470px) {
  footer .span3 {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-top: 0;
  }
}

.soc_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 2px;
  background: url(../images/sprite.png);
}
.soc_icon.vk {
  background-position: 158px -98px;
}
.soc_icon.vk:hover {
  background-position: 158px -122px;
}
.soc_icon.fb {
  background-position: 184px -98px;
}
.soc_icon.fb:hover {
  background-position: 184px -122px;
}
.soc_icon.inst {
  background-position: 132px -98px;
}
.soc_icon.inst:hover {
  background-position: 132px -122px;
}
.soc_icon.pi {
  background-position: 106px -98px;
}
.soc_icon.pi:hover {
  background-position: 106px -122px;
}

.block_popup {
  display: none;
}
.block_popup .popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(188, 184, 181, 0.6);
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block_popup .popup .add_sh {
  position: relative;
  width: 50%;
  padding: 17px 15px 25px;
  border-radius: 4px;
  background: #fff;
}
@media (max-width: 800px) {
  .block_popup .popup .add_sh {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .block_popup .popup .add_sh {
    width: 90%;
  }
}
.block_popup .popup .add_sh .close {
  position: absolute;
  right: 22px;
  top: 18px;
  width: 12px;
  height: 12px;
  background: url(../images/sprite.png) -112px 0 no-repeat;
}
.block_popup .popup .add_sh .close:hover {
  cursor: pointer;
  background-position: -112px -12px;
}
.block_popup .popup .add_sh .title {
  color: #d52a77;
  font-size: 20px;
  padding: 0 0 15px 5px;
  border-bottom: dotted 3px #d52a77;
}
.block_popup .popup .add_sh .title_2 {
  font-size: 16px;
  padding: 17px 0 8px;
}
.block_popup .popup .add_sh input {
  height: 38px;
  border-radius: 4px;
  padding-left: 15px;
}
.block_popup .popup .add_sh input.name {
  width: 100%;
  border: solid 1px #87827c;
}
.block_popup .popup .add_sh input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.block_popup .popup .add_sh input[type=file]:hover {
  cursor: pointer;
}
.block_popup .popup .add_sh .file {
  position: relative;
  width: 100%;
  border: solid 1px #87827c;
  height: 38px;
  border-radius: 4px;
  padding-left: 15px;
}
.block_popup .popup .add_sh .file:hover {
  cursor: pointer;
}
.block_popup .popup .add_sh .file .file_text {
  height: 38px;
  display: inline-block;
  margin-left: 100px;
  padding-top: 10px;
}
.block_popup .popup .add_sh .file button {
  padding: 0 20px;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 0;
  outline: none;
  float: left;
  height: 38px;
  border-radius: 4px;
  background: #87827c;
  color: #fff;
}
.block_popup .popup .add_sh .file button:hover {
  cursor: pointer;
}
.block_popup .popup .add_sh .submit {
  float: right;
  margin-top: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  width: 160px;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  background: #d52a77;
  color: #fff;
}
.block_popup .popup .add_sh .submit:hover {
  cursor: pointer;
}

.block_popup_2 {
  display: none;
}
.block_popup_2 .popup {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(188, 184, 181, 0.6);
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block_popup_2 .popup .add_sh {
  position: relative;
  width: 80%;
  padding: 17px 15px 50px 30px;
  border-radius: 4px;
  background: #fff;
}
@media (max-width: 800px) {
  .block_popup_2 .popup .add_sh {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .block_popup_2 .popup .add_sh {
    width: 97%;
  }
}
.block_popup_2 .popup .add_sh .span1 {
  width: 65.625%;
  float: left;
  margin-right: 3.125%;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .span1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.block_popup_2 .popup .add_sh .span2 {
  width: 31.25%;
  float: right;
  margin-right: 0;
  padding-top: 100px;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .span2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.block_popup_2 .popup .add_sh .mass_info {
  width: 100%;
  border-radius: 4px;
}
.block_popup_2 .popup .add_sh .mass_info tr td {
  height: 34px;
  border: solid 1px #87827c;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.block_popup_2 .popup .add_sh .mass_info tr td input[type=text] {
  border: 0;
  width: 97%;
  height: 97%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 15px;
  text-align: center;
}
.block_popup_2 .popup .add_sh .close {
  position: absolute;
  right: 22px;
  top: 18px;
  width: 12px;
  height: 12px;
  background: url(../images/sprite.png) -112px 0 no-repeat;
}
.block_popup_2 .popup .add_sh .close:hover {
  cursor: pointer;
  background-position: -112px -12px;
}
.block_popup_2 .popup .add_sh .title {
  color: #d52a77;
  font-size: 20px;
  padding: 0 0 15px 5px;
  border-bottom: dotted 3px #d52a77;
}
.block_popup_2 .popup .add_sh .title_2 {
  font-size: 16px;
  padding: 17px 0 8px;
}
.block_popup_2 .popup .add_sh input {
  height: 38px;
  border-radius: 4px;
  padding-left: 15px;
}
.block_popup_2 .popup .add_sh input.name {
  width: 100%;
  border: solid 1px #87827c;
}
.block_popup_2 .popup .add_sh .submit {
  border: 0;
  margin-top: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  width: 160px;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  background-color: #d52a77;
  color: #fff;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .submit {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}
.block_popup_2 .popup .add_sh .submit:hover {
  cursor: pointer;
}
.block_popup_2 .popup .add_sh .submit span {
  position: relative;
  color: #fff;
}
.block_popup_2 .popup .add_sh .submit.add {
  background-color: #87827c;
  margin-bottom: 10px;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .submit.add {
    margin-bottom: 5px;
  }
}
.block_popup_2 .popup .add_sh .submit.delete {
  background-color: #acd8d9;
  margin-bottom: 20px;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .submit.delete {
    margin-bottom: 5px;
  }
}
.block_popup_2 .popup .add_sh .submit.create {
  margin-top: 155px;
}
@media (max-width: 670px) {
  .block_popup_2 .popup .add_sh .submit.create {
    margin-top: 0;
  }
}
